.yBox {
    border-top: 0px solid #f8e34b;
    border-radius: 9px 9px 0px 0px;
    background-color: #f8e34b;
    width: 180px;
    height: 90px;
    position: relative;
    z-index: 10;
    box-shadow: 0.07px 3px 2px 0px #c8c8c8;
}
.wBox {
    position: absolute;
    border: 0px solid #eeedef;
    border-radius: 0px 0px 0px 9px;
    width: 90px;
    height: 90px;
    background-color: #eeedef;
}
.bBox {
    position: absolute;
    border: 0px solid #0c0c0c;
    border-radius: 0px 0px 9px 0px;
    width: 90px;
    height: 90px;
    background-color: #0c0c0c;
    left: 98px;
}
div {
    position: absolute;
    border: 90px 90px solid #0c0c0c;
    border: 0px 0px solid #f8e34b;
    border-radius: 0px 0px 9px 0px;
    width: 90px;
    height: 90px;
    background-color: #0c0c0c;
    left: 98px;
}
